<p id="notice"><%= notice %></p>

<p>
  <b>Length:</b>
  <%= @size.length %>
</p>

<p>
  <b>Unit:</b>
  <%= @size.unit %>
</p>


<%= link_to 'Edit', edit_size_path(@size) %> |
<%= link_to 'Back', sizes_path %>
